@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-91xl: 110px;

  /* Colors */
  --color-lavender: #e9e9ff;
  --color-black: #000;
  --iris-100: #5d5fef;
  --base-color-white: #fff;

  /* Paddings */
  --padding-xs: 12px;
  --padding-5xs: 8px;
  --padding-base: 16px;

  /* border radiuses */
  --br-5xs: 8px;
  --br-base: 16px;
}
